body {
    scroll-behavior: smooth;
}

.header_logo {
    height: 70px;
    width: 100px;
}

header {
    top: 0;
    width: 100%;
    text-decoration: none;
    background-color: white;
}

.header_menu {
    margin-top: 0px;
    font-family: "Rhodium Libre", serif;
    gap: 10px;
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    justify-content: flex-start;
    padding: 0;
}

.header_cart {
    display: flex;
    justify-content: flex-end;
    padding-left: 950px;
}

.about {
    padding-left: 200px;
}

.about__img-wrapper {
    padding-right: 50px;
}

.container_title {
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
    font-size: 5rem;
    margin: 0;
    padding-left: 200px;
}

.sub {
    padding-left: 180px;
}

.paragraph_body {
    font-family: "Rhodium Libre", serif;
}

.PopularityKitkat {
    align-items: center;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.chocolate {
    text-align: center;
}

.chocolate__title {
    font-size: 2.25rem;
    color: black;
}

.chocolate__description {
    max-width: 60ch;
    font-size: 1.125rem;
    color: black;
    margin: 1rem auto;
}

.chocolate__project-title {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.chocolate__img-wrapper {
    position: relative;
    width: 100%;
}

.collectiontitle {
    font-family: "Bebas Neue", sans-serif;
}

.collectionsubtitle {
    font-family: "Bebas Neue", sans-serif;
}

.chocolate__img-wrapper::after {
    content: '';
    background-color: rgba(79, 70, 229, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}

.chocolate__img-wrapper:hover::after {
    background-color: rgba(79, 70, 229, 0.3);
}

.chocolate__project:not(:last-child) {
    margin-bottom: 5rem;
}

.chocolate__project-description1 {
    font-size: 1rem;
    color: black;
    margin: 1rem;
}

.chocolate__project-description2 {
    font-size: 1rem;
    color: black;
    margin-bottom: 1rem;
}

.chocolate__project-btn {
    font-size: 1rem;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #D70021;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: red;
    color: white;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
      0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px red;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-bottom: 10px;
}

.btn:hover {
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
      0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px red;
}
